.photo { 
    position:relative; 
    width:490px; height:330px; 
    overflow:hidden;
}
.photo .arr_left { 
    position:absolute; 
    top:136px; 
    left:-1px; 
    width:30px; 
    height:44px; 
    cursor:pointer;
    background:url(箭头1.png) no-repeat; /*滚动图箭头*/
}
.photo .arr_right {
    position:absolute; 
    top:136px; 
    right:-1px; 
    width:30px; 
    height:44px; 
    cursor:pointer;
    background:url(箭头2.png) no-repeat; /*滚动图箭头*/
}
.photo a.arr_left:hover {
    background:url(箭头1亮.png) no-repeat; /*滚动图箭头亮起*/
}
.photo a.arr_right:hover {background:url(箭头2亮.png) no-repeat; /*滚动图箭头亮起*/
}
.photo .box { 
    float:left; 
    width:490px; 
    overflow:hidden;
}
.photo .box .bg {
    height:50px; 
    background:#000; 
    filter:alpha(opacity=50);
    opacity:0.5; 
    margin-top:-50px;
}
.photo .box .txt {
    padding-left:6px; 
    height:50px; 
    margin-top:-50px;        
    position: relative;
}
.photo .box h3{
    font-size:18px; 
    line-height:50px;
}
.photo .box h3 a{ 
    color:#fff;
    font-weight:normal;
    font-family: "Microsoft YaHei" ! important;
}
.photo .box p{
    color:#b8b7b5; 
    font-size:14px; 
    line-height:24px;
}
.box img{ 
    border:0;
}
.photo_cont{ 
    position:relative;
    _position:relative;
    position:relative
}
.photo .img1{
    width:490px;
    height:330px;
}