/* CSS Document */
*{ margin:0; padding:0;}
a:link {
    text-decoration: none;
}
a:visited {	
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: none;
}
.clear{ 
    clear:both;font-size:1px;
    line-height:0;
    height:1px;
}
ul{ 
    list-style-type:none;
}
img{
    border:none;
}
li{ 
    list-style-type:none;
}
body{
    text-align:center; 
    font-size:12px; 
    background:url("top.png") no-repeat center top;
}/*顶部图片*/
center{
    max-width:1680px;
    overflow:hidden;
    margin:0 auto;
}
#font1{
    text-align: center;
}
.header{height:35px;}
.foot{ 
    width:100%; 
    margin:0 auto;
    margin-top:30px; 
}
/* top */
.header-wrap{ 
    width:77px; 
} 
.header-bd{ 
    width: 77px; 
    height: 77px; 
    position: fixed; 
    left:50%;
    margin-left:520px;
    z-index:999;
    bottom:50px;
    display:none; 
}
.mianbody{ 
    width:1000px; 
    text-align:left; 
    margin:0 auto;
}
.ws{
    font-family: "Microsoft YaHei";
    font-weight:normal;
}

.layA{
    width:970px;
    margin:0px auto;
    margin-top:5px;
}
.Aleft{ 
    float:left; 
    width:490px;
    padding-top:10px;
}
.Aright{ 
    float:right; 
    width:460px;
    border-left:1px solid #e7e7e7;
}

.xinwen{
    margin-top:30px;
    height:438px;
    background:url("白条.gif") repeat-y center top;
}
.aleft{
    width:225px;
    float:left;
    margin-top:10px;
}
.aright{
    width:225px;
    float:right;
    margin-top:10px;
}
.aleft dt{
    height:18px;
    line-height:18px;
}
.aright dt{
    height:18px;
    line-height:18px;
}

.listY{ 
    font-size:14px; 
    color:#111;
    margin-top:12px;
}
.listY li{ 
    padding-left:15px; 
    background:url("圆点.gif") no-repeat left 12px; 
    height:24px; 
    line-height:24px;
    clear:both;
    overflow:hidden;
    vertical-align: bottom;
}
.listY li a{
    color:#111;
    font-size:14px;
    font-weight:normal;
    font-family: "Microsoft YaHei";
    float:left;
}
.listY li .leibie{
    float:left;
    margin-left:3px;
    display:inline;
    margin-top:3px;
}

.listP{
    margin-top:20px;
    height:200px;
    overflow:hidden;
}
.listPimg{
    width:225px;
    height:90px;
}
.listPimg img{
    width:225px;
    height:90px;
}
.listP h2{
    height:14px;
    line-height:14px;
    margin-top:20px;
}
.listP h2 a{
    font-family: "Microsoft YaHei";
    font-weight:600;
    font-size:14px;
    color:#111;
}
.listP p{
    font-family: "Microsoft YaHei";
    font-weight:normal;
    font-size:12px;color:#797979;
    line-height:24px;
    text-indent:28px;
    margin-top:8px;
}

.toutiao h8{
    height:48px;
    line-height:48px;
    text-align:left;

    overflow:hidden;
}
.toutiao  h8 a{
    font-size:26px;
    font-family: "Microsoft YaHei";
    color:#01558e;
    font-weight:bold;
}
.toutiao p{
    font-family: "Microsoft YaHei";
    font-weight:normal;
    font-size:14px;
    color:#797979;
    line-height:20px;
    text-indent:28px;
    margin-left:11px;
    padding:0px 5px;
}
.listX1{
    margin-top:0px;
    margin-left:11px;
}
.listX1 li{
    clear:both; 
    height:24px;
    line-height:24px;
    vertical-align: bottom; 
    background:url("圆点.gif") no-repeat left 12px; 
}
.listX1 li a,.listX li span{
    font-size:14px;
    font-weight:normal;
    font-family: "Microsoft YaHei";
}
.listX1 li a{
    margin-left:10px;
    color:#01558e;
    float:left;
    display:inline;
}
.listX1 li .leibie{
    float:left;
    width:33px;
    margin-left:3px;
    display:inline;
    margin-top:3px;
}
.listX1 li span{
    float:right;
    margin-right:6px;
    display:inline;
    color:#01558e;
}

.line1{
    height:1px;
    line-height:1px;
    font-size:1px;
    margin:13px 0px 9px 11px;
    border-top:1px solid #e7e7e7;
}

.focus{
    margin-top:20px;
    margin-left:17px;
}
.wsr a{
    font-size:18px;
    font-weight:bold;
    font-family: "Microsoft YaHei";
    color:#db261f;
}
.wsb a{
    font-size:18px;
    font-weight:bold;
    font-family: "Microsoft YaHei";
    color:#01558e;
}

.bg1{background:url("2015zyzy2_focus.gif") no-repeat right 7px;}
.listX{margin-top:10px;}
.listX li{
    clear:both; 
    height:24px;
    line-height:24px;
    vertical-align: bottom; 
    background:url(原点.gif) no-repeat left 12px; 
}
.listX li a,.listX li span{
    font-size:12px;
    font-weight:normal;
    font-family: "Microsoft YaHei";
}
.listX li a{
    margin-left:10px;
    color:#111;
    display:inline-block;
    height:24px;
    overflow:hidden;
}
.listX li .leibie{
    width:33px;
    float:left;
    margin-left:3px;
    display:inline;
    margin-top:3px;
}
.listX li span{
    float:right;
    margin: right 3px;
    display:inline;
    color:#797979;
}
.Cleft{
    width:620px;
    float:left;
    margin-left:20px;
    display:inline;
    padding-top:10px;
}
.Crightcon{
    width:310px;
    margin-left:20px;
}
.listpic{
    margin-top:12px;
    width:250px;
    float:left;
}
.listpic img{
    width:225px;
    height:270px;
    margin:0px 7px;
}
.links{
    margin-top:30px;
    height: 100px;
}
.links dd,.links dt{
    width:960px;
    margin:0px auto;
}
.links dd{
    color:#111;
    font-family: "Microsoft YaHei";
    font-weight:normal;
    font-size:12px;
}
.links dd a{
    color:#111;
    font-family: "Microsoft YaHei";
    font-weight:normal;
    font-size:12px;
        line-height:30px;
}
.links dd span{margin:0px 10px;}